### 分组后查看分组数据

In [1]:
# 导入基础计算库
import numpy as np
# 导入数据分析库
import pandas as pd
# 导入matplotlib包
import matplotlib as mpl

In [2]:
df = pd.DataFrame({"X": ["B", "B", "A", "A"], "Y": [1, 2, 3, 4]})
df

   X  Y
0  B  1
1  B  2
2  A  3
3  A  4

In [3]:
# 获取A组别
df.groupby(["X"]).get_group("A")

   X  Y
2  A  3
3  A  4

In [4]:
# 获取B组别
df.groupby(["X"]).get_group("B")

   X  Y
0  B  1
1  B  2