### 以openml中的数据集1StudentPerformance为例，计算gender和race/ethnicity和lunch的三维频率列联表，并给出边际值。

In [1]:
# 导入数据集获取工具
from sklearn.datasets import fetch_openml
# 导入数据分析库
import pandas as pd

In [2]:
# 获取数据
data = fetch_openml(
    data_id=43255,
    as_frame=True,
    parser="pandas"
)["frame"]

In [3]:
# 查看数据集的前五行
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor\'s degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master\'s degree,standard,none,90,95,93
3,male,group A,associate\'s degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
# 列联表
pd.crosstab(
    index=[data["gender"], data["lunch"]], # 必须是列表形式
    columns=data["race/ethnicity"],
    normalize=True,
    margins=True,
    margins_name="合计比例"
)

race/ethnicity       group A  group B  group C  group D  group E   合计比例
gender lunch
female free/reduced    0.014    0.039    0.062    0.051    0.023  0.189
       standard        0.022    0.065    0.118    0.078    0.046  0.329
male   free/reduced    0.022    0.030    0.052    0.044    0.018  0.166
       standard        0.031    0.056    0.087    0.089    0.053  0.316
合计比例                   0.089    0.190    0.319    0.262    0.140  1.000