### 以openml中的数据集1StudentPerformance为例，对数学成绩math score离散化分组。

In [1]:
# 导入数据集获取工具
from sklearn.datasets import fetch_openml
# 导入数据分析库
import pandas as pd

In [2]:
# 获取数据
data = fetch_openml(
    data_id=43255,
    as_frame=True,
    parser="pandas"
)["frame"]

In [3]:
# 查看数据集的前五行
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor\'s degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master\'s degree,standard,none,90,95,93
3,male,group A,associate\'s degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
# 离散变量分组
pd.cut(data["math score"], bins=10)

0      (70.0, 80.0]
1      (60.0, 70.0]
2      (80.0, 90.0]
3      (40.0, 50.0]
4      (70.0, 80.0]
           ...
995    (80.0, 90.0]
996    (60.0, 70.0]
997    (50.0, 60.0]
998    (60.0, 70.0]
999    (70.0, 80.0]
Name: math score, Length: 1000, dtype: category
Categories (10, interval[float64, right]): [(-0.1, 10.0] < (10.0, 20.0] < (20.0, 30.0] < (30.0, 40.0] ... (60.0, 70.0] < (70.0, 80.0] < (80.0, 90.0] < (90.0, 100.0]]