### 以openml中的数据集1StudentPerfromance为例，求数学分数math score的排名

In [1]:
# 导入数据集获取工具
from sklearn.datasets import fetch_openml

In [2]:
# 获取数据
data = fetch_openml(
    data_id=43255,
    as_frame=True,
    parser="pandas"
)["frame"]

In [3]:
# 查看数据集的前五行
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor\'s degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master\'s degree,standard,none,90,95,93
3,male,group A,associate\'s degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
# 按照max方法进行排序
res1 = data["math score"].rank(method="max")
res1.sort_values().iloc[:12]

59      1.0
980     2.0
17      3.0
787     4.0
145     5.0
842     6.0
338     7.0
466     8.0
91     10.0
363    10.0
327    11.0
528    14.0
Name: math score, dtype: float64

In [5]:
# 按照min方法进行排序
res2 = data["math score"].rank(method="min")
res2.sort_values().iloc[:12]

59      1.0
980     2.0
17      3.0
787     4.0
145     5.0
842     6.0
338     7.0
466     8.0
91      9.0
363     9.0
327    11.0
528    12.0
Name: math score, dtype: float64

In [6]:
# 按照dense方法进行排序
res3 = data["math score"].rank(method="dense")
res3.sort_values().iloc[:12]

59      1.0
980     2.0
17      3.0
787     4.0
145     5.0
842     6.0
338     7.0
466     8.0
91      9.0
363     9.0
327    10.0
528    11.0
Name: math score, dtype: float64