### 以openml中的数据集1StudentPerformance为例，将gender的字符串全部大写，将race/ethnicity的字符串全部小写。

In [1]:
# 导入数据集获取工具
from sklearn.datasets import fetch_openml
# 导入数据分析库
import pandas as pd

In [2]:
# 获取数据
data = fetch_openml(
    data_id=43255,
    as_frame=True,
    parser="pandas"
)["frame"]

In [3]:
# 查看数据集的前五行
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor\'s degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master\'s degree,standard,none,90,95,93
3,male,group A,associate\'s degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
# 字符串大小写
data["gender"].str.upper()

0      FEMALE
1      FEMALE
2      FEMALE
3        MALE
4        MALE
        ...
995    FEMALE
996      MALE
997    FEMALE
998    FEMALE
999    FEMALE
Name: gender, Length: 1000, dtype: object

In [5]:
data["race/ethnicity"].str.lower()

0      group b
1      group c
2      group b
3      group a
4      group c
        ...
995    group e
996    group c
997    group c
998    group d
999    group d
Name: race/ethnicity, Length: 1000, dtype: object