### 以openml中的数据集1StudentPerformance为例，将race/ethnicity的字符串按照空格分割成列表。

In [1]:
# 导入数据集获取工具
from sklearn.datasets import fetch_openml
# 导入数据分析库
import pandas as pd

In [2]:
# 获取数据
data = fetch_openml(
    data_id=43255,
    as_frame=True,
    parser="pandas"
)["frame"]

In [3]:
# 查看数据集的前五行
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor\'s degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master\'s degree,standard,none,90,95,93
3,male,group A,associate\'s degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
# 分割为列表
strlist = data["race/ethnicity"].str.split(" ")
strlist

0      [group, B]
1      [group, C]
2      [group, B]
3      [group, A]
4      [group, C]
          ...
995    [group, E]
996    [group, C]
997    [group, C]
998    [group, D]
999    [group, D]
Name: race/ethnicity, Length: 1000, dtype: object

In [5]:
# 获取分割的列表的第二个元素
strlist.str[1]

0      B
1      C
2      B
3      A
4      C
      ..
995    E
996    C
997    C
998    D
999    D
Name: race/ethnicity, Length: 1000, dtype: object