### 以openml中的数据集1StudentPerformance为例，将race/ethnicity的字符串按照空格分割成列表，并将列表中的各个元素作为列加入到dataframe中。

In [1]:
# 导入数据集获取工具
from sklearn.datasets import fetch_openml
# 导入数据分析库
import pandas as pd

In [2]:
# 获取数据
data = fetch_openml(
    data_id=43255,
    as_frame=True,
    parser="pandas"
)["frame"]

In [3]:
# 查看数据集的前五行
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor\'s degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master\'s degree,standard,none,90,95,93
3,male,group A,associate\'s degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
# 分割为列表
strlist = data["race/ethnicity"].str.split(" ", expand=True)
strlist

         0  1
0    group  B
1    group  C
2    group  B
3    group  A
4    group  C
..     ... ..
995  group  E
996  group  C
997  group  C
998  group  D
999  group  D

[1000 rows x 2 columns]