### 对含有缺失值的列进行填充，将缺失值以其他的值替换。

In [1]:
import pandas as pd
import numpy as np

In [2]:
# 生成dataframe
df = pd.DataFrame(
    np.random.randn(5, 3),
    index=["a", "c", "e", "f", "h"],
    columns=["one", "two", "three"],
)
df["four"] = "bar"
df["five"] = df["one"] > 0
df = df.reindex(["a", "b", "c", "d", "e", "f", "g", "h"])
df

        one       two     three four   five
a  1.010471  1.775946  0.116074  bar   True
b       NaN       NaN       NaN  NaN    NaN
c -0.709978  0.945866  1.369733  bar  False
d       NaN       NaN       NaN  NaN    NaN
e  0.010790  0.209315  1.177950  bar   True
f  0.028884  1.194446 -0.041722  bar   True
g       NaN       NaN       NaN  NaN    NaN
h  1.731725  0.499953 -0.015604  bar   True

In [3]:
# 以均值替换
df["one"].fillna(df["one"].mean())

a    1.010471
b    0.414378
c   -0.709978
d    0.414378
e    0.010790
f    0.028884
g    0.414378
h    1.731725
Name: one, dtype: float64