### 对含有缺失值的列进行计数，求非缺失值的个数。

In [1]:
import pandas as pd
import numpy as np

In [2]:
# 生成dataframe
df = pd.DataFrame(
    np.random.randn(5, 3),
    index=["a", "c", "e", "f", "h"],
    columns=["one", "two", "three"],
)
df["four"] = "bar"
df["five"] = df["one"] > 0
df = df.reindex(["a", "b", "c", "d", "e", "f", "g", "h"])
df

        one       two     three four   five
a -0.126636 -1.491391  0.700825  bar  False
b       NaN       NaN       NaN  NaN    NaN
c  0.981905 -1.506363  0.082841  bar   True
d       NaN       NaN       NaN  NaN    NaN
e -0.383442  1.491860 -0.551062  bar  False
f -0.182666  0.236521  0.678531  bar  False
g       NaN       NaN       NaN  NaN    NaN
h  0.984269 -0.652942 -1.957255  bar   True

In [3]:
# 求非缺失值的个数
df["one"].count()

5