### 以openml中的数据集1StudentPerformance为例，将gender变量变为category类型并修改类别名称为"男性"和"女性"。

In [1]:
# 导入数据集获取工具
from sklearn.datasets import fetch_openml
# 导入数据分析库
import pandas as pd

In [2]:
# 获取数据
data = fetch_openml(
    data_id=43255,
    as_frame=True,
    parser="pandas"
)["frame"]

In [3]:
# 查看数据集的前五行
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor\'s degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master\'s degree,standard,none,90,95,93
3,male,group A,associate\'s degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
# 将gender修改为分类变量
newvar = data["gender"].astype("category")
newvar.head()

0    female
1    female
2    female
3      male
4      male
Name: gender, dtype: category
Categories (2, object): ['female', 'male']

In [5]:
# 查看分类变量的类别名称
print(newvar.cat.categories)

Index(['female', 'male'], dtype='object')

In [6]:
# 修改分类变量的类别名称
new_categories = ["女性", "男性"]
newvar = newvar.cat.rename_categories(new_categories)
newvar.head()

0    女性
1    女性
2    女性
3    男性
4    男性
Name: gender, dtype: category
Categories (2, object): ['女性', '男性']