### 以openml中的数据集1StudentPerfromance为例，删除writing score中分数相同的样本。

In [1]:
# 导入数据集获取工具
from sklearn.datasets import fetch_openml
# 导入数据分析库
import pandas as pd

In [2]:
# 获取数据
data = fetch_openml(
    data_id=43255,
    as_frame=True,
    parser="pandas"
)["frame"]

In [3]:
# 查看数据集的前五行
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor\'s degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master\'s degree,standard,none,90,95,93
3,male,group A,associate\'s degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
newdata = data.drop_duplicates(subset=["writing score"])
print("删除writing score重复值后的样本量：", newdata.shape, sep="\n")
newdata.head()

删除writing score重复值后的样本量：
(77, 8)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor\'s degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master\'s degree,standard,none,90,95,93
3,male,group A,associate\'s degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75