### 调整数据的显示精度

In [1]:
# 导入基础计算库
import numpy as np
# 导入数据分析库
import pandas as pd
# 导入matplotlib包
import matplotlib as mpl

In [2]:
# 生成数据
df = pd.DataFrame({
    "strings": ["Adam", "Mike"],
    "ints": [1, 3],
    "floats": [1.123, 1000.23]
})
df.head()

  strings  ints    floats
0    Adam     1     1.123
1    Mike     3  1000.230

In [3]:
# 格式化输出
df.style.format(
    precision=3, thousands=".", decimal="," # 将千分位的点替换为,
).format_index(
    str.upper, axis=1 # 将列名全部大写
).relabel_index(
    ["row 1", "row 2"], axis=0 # 修改行名
)