### 对行名和列名进行格式变换

In [1]:
# 导入基础计算库
import numpy as np
# 导入数据分析库
import pandas as pd
# 导入matplotlib包
import matplotlib as mpl

In [2]:
# 设置随机数种子
np.random.seed(0)
# 生成数据
df = pd.DataFrame(np.random.randn(10,4), columns=["A","B","C","D"])
df.style

In [3]:
df.style.applymap_index(
    lambda v: "color:pink;" if v>4 else "color:darkblue;", 
    axis=0 # 对行名进行变换
)

In [4]:
df.style.apply_index(
    lambda s: np.where(
        s.isin(["A", "B"]), "color:pink;", "color:darkblue;"
    ), 
    axis=1 # 对列名进行转换
)