### 以openml中的数据集diabetes为例，计算不同class分类下，age的中位数。

In [1]:
# 导入数据集获取工具
from sklearn.datasets import fetch_openml

In [2]:
# 获取数据
data = fetch_openml(
    data_id=37,
    as_frame=True,
    parser="pandas"
)["frame"]

In [3]:
# 查看数据集的前五行
data.head()

   preg  plas  pres  skin  insu  mass   pedi  age            class
0     6   148    72    35     0  33.6  0.627   50  tested_positive
1     1    85    66    29     0  26.6  0.351   31  tested_negative
2     8   183    64     0     0  23.3  0.672   32  tested_positive
3     1    89    66    23    94  28.1  0.167   21  tested_negative
4     0   137    40    35   168  43.1  2.288   33  tested_positive

In [4]:
# 分组计算平均数
data.groupby(by="class")["age"].agg("median")

class
tested_negative    27.0
tested_positive    36.0
Name: age, dtype: float64