### 以openml中的数据集1StudentPerfromance为例，找到writing score中分数大于90的样本。

In [1]:
# 导入数据集获取工具
from sklearn.datasets import fetch_openml
# 导入数据分析库
import pandas as pd

In [2]:
# 获取数据
data = fetch_openml(
    data_id=43255,
    as_frame=True,
    parser="pandas"
)["frame"]

In [3]:
# 查看数据集的前五行
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor\'s degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master\'s degree,standard,none,90,95,93
3,male,group A,associate\'s degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
# 分数大于90的样本
data[data["writing score"] > 90].head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
2,female,group B,master\'s degree,standard,none,90,95,93
6,female,group B,some college,standard,completed,88,95,92
94,female,group B,some college,standard,none,79,86,92
106,female,group D,master\'s degree,standard,none,87,100,100
110,female,group D,associate\'s degree,free/reduced,completed,77,89,98