### 分组求和

In [1]:
# 导入基础计算库
import numpy as np
# 导入数据分析库
import pandas as pd
# 导入matplotlib包
import matplotlib as mpl

In [2]:
df = pd.DataFrame({"X": ["B", "B", "A", "A"], "Y": [1, 2, 3, 4]})
df

   X  Y
0  B  1
1  B  2
2  A  3
3  A  4

In [3]:
# 按照变量X来分组，对剩下的变量求和
df.groupby(["X"]).sum()

   Y
X
A  7
B  3

In [4]:
# 分组求和后，排序
df.groupby(["X"], sort=False).sum()

   Y
X
B  3
A  7