### 同时按照行名和列名分组，针对多水平索引的情况

In [1]:
# 导入基础计算库
import numpy as np
# 导入数据分析库
import pandas as pd
# 导入matplotlib包
import matplotlib as mpl

In [2]:
# 生成数据
arrays = [
    ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
    ["one", "two", "one", "two", "one", "two", "one", "two"],
]
# 生成多水平索引
index = pd.MultiIndex.from_arrays(arrays, names=["first", "second"])
# 生成数据
df = pd.DataFrame({"A": [1, 1, 1, 1, 2, 2, 3, 3], "B": np.arange(8)}, index=index)
df

              A  B
first second
bar   one     1  0
      two     1  1
baz   one     1  2
      two     1  3
foo   one     2  4
      two     2  5
qux   one     3  6
      two     3  7

In [3]:
# 按照第二水平索引（second）和A列进行分组，再求和
df.groupby([pd.Grouper(level=1), "A"]).sum()

          B
second A
one    1  2
       2  4
       3  6
two    1  4
       2  5
       3  7