### 迭代循环输出分组的组别名和分组数据

In [1]:
# 导入基础计算库
import numpy as np
# 导入数据分析库
import pandas as pd
# 导入matplotlib包
import matplotlib as mpl

In [2]:
# 设置随机数种子
np.random.seed(10)
# 生成数据
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)
df

     A      B         C         D
0  foo    one  1.331587  0.004291
1  bar    one  0.715279 -0.174600
2  foo    two -1.545400  0.433026
3  bar  three -0.008384  1.203037
4  foo    two  0.621336 -0.965066
5  bar    two -0.720086  1.028274
6  foo    one  0.265512  0.228630
7  foo  three  0.108549  0.445138

In [3]:
# 分组
grouped = df.groupby("A")
# 迭代循环
for name, group in grouped:
    print(name)
    print(group)

bar
     A      B         C         D
1  bar    one  0.715279 -0.174600
3  bar  three -0.008384  1.203037
5  bar    two -0.720086  1.028274
foo
     A      B         C         D
0  foo    one  1.331587  0.004291
2  foo    two -1.545400  0.433026
4  foo    two  0.621336 -0.965066
6  foo    one  0.265512  0.228630
7  foo  three  0.108549  0.445138