### 分组计算每一列的最大值的下标

In [1]:
# 导入基础计算库
import numpy as np
# 导入数据分析库
import pandas as pd
# 导入matplotlib包
import matplotlib as mpl

In [2]:
# 设置随机数种子
np.random.seed(1)
# 生成数据
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)
df

     A      B         C         D
0  foo    one  1.624345  0.319039
1  bar    one -0.611756 -0.249370
2  foo    two -0.528172  1.462108
3  bar  three -1.072969 -2.060141
4  foo    two  0.865408 -0.322417
5  bar    two -2.301539 -0.384054
6  foo    one  1.744812  1.133769
7  foo  three -0.761207 -1.099891

In [3]:
# 以A分组
grouped = df.groupby("A")
# 对C D求最大值的下标
grouped[["C", "D"]].aggregate("idxmax")

     C  D
A
bar  1  1
foo  6  2