### 分组计算每一列的多个统计量（同时计算，修改Agg的函数名）

In [1]:
# 导入基础计算库
import numpy as np
# 导入数据分析库
import pandas as pd
# 导入matplotlib包
import matplotlib as mpl

In [2]:
# 设置随机数种子
np.random.seed(1)
# 生成数据
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)
df

     A      B         C         D
0  foo    one  1.624345  0.319039
1  bar    one -0.611756 -0.249370
2  foo    two -0.528172  1.462108
3  bar  three -1.072969 -2.060141
4  foo    two  0.865408 -0.322417
5  bar    two -2.301539 -0.384054
6  foo    one  1.744812  1.133769
7  foo  three -0.761207 -1.099891

In [3]:
# 定义计算极差的函数
def f(x):
    """
    x是Series对象
    """
    res = x.max()-x.min()
    return res

In [4]:
# 以A分组
grouped = df.groupby("A")
# 对C D求最大值的下标
grouped.agg(
    C列最小值=pd.NamedAgg(column="C", aggfunc="min"),
    C列极差=pd.NamedAgg(column="C", aggfunc=f),
    C列平均值=pd.NamedAgg(column="C", aggfunc="mean"),
    D列最小值=pd.NamedAgg(column="D", aggfunc="min"),
    D列极差=pd.NamedAgg(column="D", aggfunc=f),
    D列平均值=pd.NamedAgg(column="D", aggfunc="mean"),
)

        C列最小值      C列极差     C列平均值     D列最小值      D列极差     D列平均值
A
bar -2.301539  1.689782 -1.328755 -2.060141  1.810770 -0.897855
foo -0.761207  2.506019  0.589037 -1.099891  2.561999  0.298522