### 以openml中的数据集1StudentPerformance为例，新建一列id表示不同学生的编号，创建一个矩阵，矩阵的第$i$行第$j$列是第$i$个学生的数学成绩math score减去第$j$个学生的数学成绩的结果。使用for循环对dataframe的元素一个一个赋值，赋值方式使用loc和at，对比时间消耗。为了节省时间，限制$1<=i,j<=200$。

In [1]:
# 导入数据集获取工具
from sklearn.datasets import fetch_openml
# 导入数据分析库
import pandas as pd

In [2]:
# 获取数据
data = fetch_openml(
    data_id=43255,
    as_frame=True,
    parser="pandas"
)["frame"]

In [3]:
# 查看数据集的前五行
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor\'s degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master\'s degree,standard,none,90,95,93
3,male,group A,associate\'s degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
# 新建id列
data["id"] = ["ID{}".format(i) for i in range(1, data.shape[0]+1)]

In [5]:
%%timeit
# 新建一个dataframe
resdf1 = pd.DataFrame(columns=data["id"], index=data["id"])
for i in range(1, 201):
    for j in range(1, 201):
        resdf1.at["ID{}".format(i), "ID{}".format(j)] = data.at[i-1, "math score"] - data.at[j-1, "math score"]

2.66 s ± 95.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [6]:
%%timeit
# 新建一个dataframe
resdf2 = pd.DataFrame(columns=data["id"], index=data["id"])
for i in range(1, 201):
    for j in range(1, 201):
        resdf2.loc["ID{}".format(i), "ID{}".format(j)] = data.loc[i-1, "math score"] - data.loc[j-1, "math score"]

6.97 s ± 270 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)