### 以openml中的数据集1StudentPerformance为例，将math score，reading score和writing score三列合并为一列，以逗号分隔。

In [1]:
# 导入数据集获取工具
from sklearn.datasets import fetch_openml
# 导入数据分析库
import pandas as pd

In [2]:
# 获取数据
data = fetch_openml(
    data_id=43255,
    as_frame=True,
    parser="pandas"
)["frame"]

In [3]:
# 查看数据集的前五行
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor\'s degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master\'s degree,standard,none,90,95,93
3,male,group A,associate\'s degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
# 列之间的合并
newS = data["math score"].astype("string").str.cat(data["reading score"].astype("string"), sep=",").str.cat(data["writing score"].astype("string"), sep=",")
newS

0      72,72,74
1      69,90,88
2      90,95,93
3      47,57,44
4      76,78,75
         ...
995    88,99,95
996    62,55,55
997    59,71,65
998    68,78,77
999    77,86,86
Name: math score, Length: 1000, dtype: string