### 对含有缺失值的列进行求和和求乘积，看看结果如何。

In [1]:
import pandas as pd
import numpy as np

In [2]:
# 生成dataframe
df = pd.DataFrame(
    np.random.randn(5, 3),
    index=["a", "c", "e", "f", "h"],
    columns=["one", "two", "three"],
)
df["four"] = "bar"
df["five"] = df["one"] > 0
df = df.reindex(["a", "b", "c", "d", "e", "f", "g", "h"])
df

        one       two     three four   five
a  0.271842 -0.350975  0.194960  bar   True
b       NaN       NaN       NaN  NaN    NaN
c -0.104840 -0.469391 -0.410844  bar  False
d       NaN       NaN       NaN  NaN    NaN
e -0.059557  0.436472 -0.792940  bar  False
f  0.575772 -0.903377  0.192159  bar   True
g       NaN       NaN       NaN  NaN    NaN
h -1.555696  0.607744 -0.759766  bar  False

In [3]:
# 计算含有缺失值的列的和，默认是跳过缺失值
df["one"].sum()

-0.8724777568039623

In [4]:
# 不跳过缺失值，那么得到的和就是NaN
df["two"].sum(skipna=False)

nan

In [5]:
# 计算含有缺失值的列的积，默认是跳过缺失值
df["one"].prod()

-0.0015203634461877212

In [6]:
# 不跳过缺失值，那么得到的积就是NaN
df["two"].prod(skipna=False)

nan