### 对含有缺失值的列进行插值。

In [1]:
import pandas as pd
import numpy as np

In [2]:
# 生成dataframe
df = pd.DataFrame(
    np.random.randn(5, 3),
    index=["a", "c", "e", "f", "h"],
    columns=["one", "two", "three"],
)
df["four"] = "bar"
df["five"] = df["one"] > 0
df = df.reindex(["a", "b", "c", "d", "e", "f", "g", "h"])
df

        one       two     three four   five
a  0.957477  0.356867  1.238439  bar   True
b       NaN       NaN       NaN  NaN    NaN
c -1.194969 -0.859723 -2.106189  bar  False
d       NaN       NaN       NaN  NaN    NaN
e  0.327321  0.633526 -0.024933  bar   True
f  1.027312  0.586582  0.242355  bar   True
g       NaN       NaN       NaN  NaN    NaN
h  0.095649  0.213300  0.137504  bar   True

In [3]:
# 线性插值
df["one"].interpolate()

a    0.957477
b   -0.118746
c   -1.194969
d   -0.433824
e    0.327321
f    1.027312
g    0.561480
h    0.095649
Name: one, dtype: float64