### 以openml中的数据集1StudentPerformance为例，将gender变量变为category类型并添加一个类别"Unknown"。

In [1]:
# 导入数据集获取工具
from sklearn.datasets import fetch_openml
# 导入数据分析库
import pandas as pd

In [2]:
# 获取数据
data = fetch_openml(
    data_id=43255,
    as_frame=True,
    parser="pandas"
)["frame"]

In [3]:
# 查看数据集的前五行
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor\'s degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master\'s degree,standard,none,90,95,93
3,male,group A,associate\'s degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
# 将gender修改为分类变量
newvar = data["gender"].astype("category")
newvar.head()

0    female
1    female
2    female
3      male
4      male
Name: gender, dtype: category
Categories (2, object): ['female', 'male']

In [5]:
# 添加一个类别
newvar = newvar.cat.add_categories(["Unknown"])
newvar.head()

0    female
1    female
2    female
3      male
4      male
Name: gender, dtype: category
Categories (3, object): ['female', 'male', 'Unknown']