### 以openml中的数据集1StudentPerformance为例，将变量parental level of education变为有序的category类型并且修改类别之间的顺序。

In [1]:
# 导入数据集获取工具
from sklearn.datasets import fetch_openml
# 导入数据分析库
import pandas as pd

In [2]:
# 获取数据
data = fetch_openml(
    data_id=43255,
    as_frame=True,
    parser="pandas"
)["frame"]

In [3]:
# 查看数据集的前五行
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor\'s degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master\'s degree,standard,none,90,95,93
3,male,group A,associate\'s degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
# 将gender修改为分类变量
t = pd.CategoricalDtype([
    "some high school","high school","some college",
    "associate\\'s degree","bachelor\\'s degree","master\\'s degree"
    ],
    ordered=True # 从小打到排序
)
newvar = data["parental level of education"].astype(t)
newvar.head()

0     bachelor\'s degree
1           some college
2       master\'s degree
3    associate\'s degree
4           some college
Name: parental level of education, dtype: category
Categories (6, object): ['some high school' < 'high school' < 'some college' < 'associate\'s degree' < 'bachelor\'s degree' < 'master\'s degree']

In [6]:
newvar = data["parental level of education"].cat.reorder_categories([
    "high school","some high school","associate\\'s degree",
    "some college","bachelor\\'s degree","master\\'s degree"
    ],
    ordered=True # 从小打到排序
)
newvar.head()

0     bachelor\'s degree
1           some college
2       master\'s degree
3    associate\'s degree
4           some college
Name: parental level of education, dtype: category
Categories (6, object): ['high school' < 'some high school' < 'associate\'s degree' < 'some college' < 'bachelor\'s degree' < 'master\'s degree']