### 以openml中的数据集1StudentPerfromance为例，求阅读分数reading score中出现次数大于1的重复值。

In [1]:
# 导入数据集获取工具
from sklearn.datasets import fetch_openml
# 导入数据分析库
import pandas as pd

In [2]:
# 获取数据
data = fetch_openml(
    data_id=43255,
    as_frame=True,
    parser="pandas"
)["frame"]

In [3]:
# 查看数据集的前五行
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor\'s degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master\'s degree,standard,none,90,95,93
3,male,group A,associate\'s degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [8]:
# 找出reading score值相同的行
dup_bool = data["reading score"].duplicated()
res = data["reading score"][dup_bool]
res

6      95
13     72
21     75
22     54
26     54
       ..
995    99
996    55
997    71
998    78
999    86
Name: reading score, Length: 928, dtype: int64