### 以openml中的数据集1StudentPerfromance为例，求reading score中重复值各自出现的次数。

In [1]:
# 导入数据集获取工具
from sklearn.datasets import fetch_openml
# 导入数据分析库
import pandas as pd

In [2]:
# 获取数据
data = fetch_openml(
    data_id=43255,
    as_frame=True,
    parser="pandas"
)["frame"]

In [3]:
# 查看数据集的前五行
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor\'s degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master\'s degree,standard,none,90,95,93
3,male,group A,associate\'s degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
# 频数统计
counts = data["reading score"].value_counts()
# 取出频数大于1的值
results = counts[counts > 1]
# 按照reading score的数值排序
res_sort = results.sort_index(ascending=False)
res_sort

100    17
99      3
97      5
96      4
95      8
       ..
37      3
34      4
31      2
29      2
24      2
Name: reading score, Length: 66, dtype: int64