### 连接数据

In [1]:
# 导入基础计算库
import numpy as np
# 导入数据分析库
import pandas as pd
# 导入matplotlib包
import matplotlib as mpl

In [2]:
# 设置随机数种子
np.random.seed(1)
# 生成数据
df = pd.DataFrame(np.random.randn(5, 5))
df

          0         1         2         3         4
0  1.624345 -0.611756 -0.528172 -1.072969  0.865408
1 -2.301539  1.744812 -0.761207  0.319039 -0.249370
2  1.462108 -2.060141 -0.322417 -0.384054  1.133769
3 -1.099891 -0.172428 -0.877858  0.042214  0.582815
4 -1.100619  1.144724  0.901591  0.502494  0.900856

In [3]:
summary_styler = df.agg(["sum", "mean"]).style.format(
    precision=3
).relabel_index(["Sum", "Average"]) # 中心修改行名
summary_styler

In [4]:
df.style.format(precision=1).concat(summary_styler)