### 对行名和列名指定子集进行格式变换

In [1]:
# 导入基础计算库
import numpy as np
# 导入数据分析库
import pandas as pd
# 导入matplotlib包
import matplotlib as mpl

In [2]:
# 设置随机数种子
np.random.seed(0)
# 生成数据
df = pd.DataFrame(np.random.randn(10,4), columns=["A","B","C","D"])
df.style

In [3]:
# 对最大值进行高亮显示
def highlight_max(s, props=""):
    return np.where(s == np.nanmax(s.values), props, "")

slice_ = ["C", "D"]
df.style.apply(
    highlight_max, props="color:red;", 
    axis=0, subset=slice_
).set_properties(
    **{"background-color": "#ffffb3"}, 
    subset=slice_
)